[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    ci = commit
    df = diff
    co = checkout
    br = branch
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1" '
[core]
    excludesfile = ~/.gitignore
[user]
	email = zzepaigh@gmail.com
	name = doomzhou
[push]
	default = simple
